<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création d'Aventurier</title>
    <link rel="stylesheet"  href="static/style.css">
</head>

<body>
<div class = "page">
    <h1>BIENVENUE SUR LA PAGE D'ACCUEIL</h1>
    <div class ="bouton">
    <a class = "create" href="/create">Créer un nouvel aventurier</a><br>
    <a class = "profils" href="/profil">Voir les aventuriers existants</a>
    </div>
</div>
</body>

</html>
